{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <title>Quiz Application</title>
</head>

<body>



    {% block content %} {% endblock %}


    <!-- End of the main code -->

    <script src="{% static 'js/jquery.3.4.1.js' %}"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>