* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(240, 238, 238);
}

.header {
    text-decoration: wavy;
    font-weight: bold;
    text-decoration: underline;
}

.head-area {
    background: rgb(29, 141, 221);
    margin: 0;
    text-align: center;
    color: white;
    padding: 10px;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 12px rgb(130, 120, 120);
}

.info {
    padding-left: 10%;
    font-weight: 500;
    font-size: small;
    overflow: auto;
    height: 70vh;
}

#left-instruction {
    left: -4%;
}

.p {
    padding: 50px 20px 40px;
}

#cent {
    text-align: center;
    padding: 4%;
}

#an {
    font-size: xx-large;
}

#sub {
    padding-left: 5%;
}

.btn {
    color: aliceblue;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#a {
    text-decoration: none;
    color: aliceblue;
}

#img {
    position: fixed;
    z-index: -1;
}

.b {
    float: left;
    text-decoration: none;
    color: aliceblue;
    font-size: large;
}

.right {
    float: right;
    width: auto;
    background: rgb(240, 238, 238);
    margin-right: 10%;
}

.rounded {
    border-radius: 30px 4px 0 2px;
}

.an {
    font-size: x-large;
}

.bor {
    border: groove;
    border-top: none;
    border-radius: 30px 0;
}

.q-no {
    background: rgb(119, 228, 162);
    width: 100%;
    height: 9%;
    border-radius: 20px;
    text-align: center;
    line-height: 45px;
    font-weight: bolder;
    font-size: x-large;
}

@media(min-width: 881px) {
    .container {
        width: 30%;
        margin-top: 5%;
        text-align: center;
        padding: 20px 30px 30px;
        /* border-radius: 10px; */
        /* border: 2px solid; */
        box-shadow: 11px 12px 22px 5px grey;
    }
}

@media(max-width: 880px) {
    .container {
        width: auto;
        margin: 5% 15% 0;
        text-align: center;
        padding: 20px 30px 30px;
        /* border-radius: 10px; */
        /* border: 2px solid; */
        box-shadow: 11px 12px 22px 5px grey;
    }
    .question-list {
        display: none;
    }
}